.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  font-family: sans-serif;
  align-items: center;
  margin-left: 10px;
}

.tabs__label {
  padding: 20px;
  font-weight: 600;
  cursor: pointer;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #dddddd;
  font-size: 0.7em;
  display: none;
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 0 0 8px 8px;
  background: white

}

.tabs__radio:checked + .tabs__label {
  background: white;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
 
}
.input-box {
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: left;
}
.form-label {
  text-align: right; /* Align the text to the right */
  margin-right: 10px; /* Add some spacing between label and input */
  min-width: 100px; 
  font-size: large;
  font-weight: bold;
}

/* Style for the input fields on the right */
.form-input {
  flex: 1; /* This makes the input fields take up more space */
  width: 100%; /* Set the input fields to 100% width */
  border: groove;
  border-radius: 5px;
  min-height: 30px;
  font-size: large;
  font-weight: 300;
}
.form-content{
  margin-right: 100px;
  background: white;
}