.tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  font-family: sans-serif;
  align-items: center; 
  margin-bottom: 2rem;
}

.tabs__label {
  padding: 15px 20px;
  font-weight: 600;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  text-transform: capitalize;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;  
  font-size: 0.7em;
  display: none;
  position: relative;
  max-width: 100%;
  width: 100%;
  padding: 25px;
  border-radius: 0 0 8px 8px;
  background: white

}

.tabs__radio:checked + .tabs__label {
  background: white;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
 
}
.input-box {
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: left;
}
/* .form-label {
  text-align: right; 
  margin-right: 10px; 
  min-width: 100px; 
  font-size: large;
  font-weight: bold;
} */

/* Style for the input fields on the right */
.form-input {
  flex: 1; /* This makes the input fields take up more space */
  width: 100%; /* Set the input fields to 100% width */
  border: groove;
  border-radius: 5px;
  min-height: 30px;
  font-size: large;
  font-weight: 300;
}
.form-content {
  background: white;
  padding: 1rem 1.5rem;
  box-shadow: 0px 2px 10px #e9ecef;
  border-radius: 0.4rem;
}
/*New css started*/
div#details {
  padding: 1.5rem;
}

.tabs__label h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #6c6b6b;
}

.tabs__radio:checked + .tabs__label h2 {
  color: #fff;
}

label.form-label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
  position: relative;
  display: inline-block;
}

input.form-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
}

input.form-input:focus, input.form-input:focus-visible, input.form-input:visited,input.form-input:active {
  border-color: #2a2185;
  outline: 1px solid #2a2185;
}
.tabs__radio:checked + .tabs__label {
  background: white;
  border-radius: 8px 8px 0 0;
  font-weight: bold;
  border-bottom: 1px solid;
  min-width: 210px;
  /* text-align: center; */
  color: #2a2185;
  background: #2a2185;
}
.datalist--div label {
  font-weight: 400;
  font-size: 1.2rem;
}
.datalist--div .form-input {
  width: 100%;
  border-radius: 0.3rem;
  max-width: 250px;
  background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAAHCAYAAADebrddAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABwSURBVHgBhVDBCcAgDFTiAB2hHUBwhW7gR3CNjtBtfHaTfsR3nt0iTR4traAeBHLH3RGiFSPGOKsBUkqoQwjOGHOOzES0QynlstYuzF3HizwbyJZzPjoB5NZVzoBHaQReoxD4VlSBn7EJ+Y73fqr1G2dRMkAulwP1AAAAAElFTkSuQmCC) no-repeat right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.datalist--div .form-input:focus {
  outline: none;
  border-color: #2a2185;
  background: no-repeat;
  -webkit-appearance: none;
  background-color: #fff;
}
::-webkit-scrollbar {
  width: 4px;
  height: 7px;
}
::-webkit-scrollbar-track {
  background-color:  #F0F0F0;
  -webkit-border-radius:8px;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 8px;
  background: #2a2185;
  background: #2a2185;
}