---
import DashCards from "../component/DashCards.astro";
export const partial = true;
---

<DashCards />

<!-- ================ Order Details List ================= -->
<!-- <div class="details"> -->
<div class="table-style1">
    <div class="recentOrders">
        <div class="cardHeader">
            <h2>Recent Orders</h2>
            <a href="#" class="btn">View All</a>
        </div>
        <div id="target"></div>
    </div>
</div>

