---
import db from "../db";

const data = await db(
  `SELECT SUM(T0."SYSDeb" - T0."SYSCred") "Total_USD"  , T0."ProfitCode" FROM JDT1 T0  INNER JOIN OJDT T1 ON T0."TransId" = T1."TransId" INNER JOIN OACT T2 ON T2."AcctCode" = T0."Account" WHERE T0."ProfitCode" LIKE 'R%'  and Month( T1."RefDate") = Month(Current_Date) and Year(T1."RefDate") = Year(Current_Date) group By T0."ProfitCode"`
);
---

<div class="cardBox">
  {
    data.map((el) => {
      return (
        <>
          <div
            hx-get={`/reports/${el.ProfitCode}`}
            hx-trigger="click"
            hx-target="#target"
            hx-swap="innerHTML"
            class="card"
          >
            <div class="numbers">
              {((el.Total_USD as number) / 1000).toFixed(2)}
            </div>
            <div class="cardName">{el.ProfitCode}</div>

            <div class="iconBx">
              <ion-icon name="eye-outline" />
            </div>
          </div>
        </>
      );
    })
  }
</div>
