---
const { data } = Astro.props;

const colHead = Object.keys(data[0]);
---

<table>
  <thead>
    <tr>
      {
        colHead.map((el) => {
          return <th>{el}</th>;
        })
      }
    </tr>
  </thead>
  <tbody>
    {
      data.map((tr: {}) => {
        return (
          <tr>
            {Object.entries(tr).map((td) => {
              return <td>{td[1]}</td>;
            })}
          </tr>
        );
      })
    }
  </tbody>
  <tfoot> </tfoot>
</table>
